@font-face {
  font-family: 'Bezy Grotesk';
  src: url('/fonts/BezyGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bezy Grotesk';
  src: url('/fonts/BezyGrotesk-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.bezy-logo::before {
  content: '\F003';
  margin-right: 0;
  font-family: 'Bezy Grotesk', Helvetica, Arial, sans-serif;
}

a {
  text-decoration-color: #9ca3af;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
  text-decoration-thickness: 1.5px;
}

a:hover {
  text-decoration-color: #000000;
  text-decoration-style: wavy;
  text-decoration-thickness: 1.5px;
}